body {
    font-family: Arial, sans-serif;
    background-color: #f7e6b8;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

h4 {
    color: #666;
}

#coctel-form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}

#clear-button {
    background-color: #db4453;
}

#coctel-info {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
